<div class="section-covers">
    <h2 class="covers-title visually-hidden">Covers and Projects</h2>
    <div class="marquee-container">
        <div class="marquee-row">
            <img class="covers-img" src="./img/covers/rectangle1-img.webp" alt="Image 1">
            <img class="covers-img" src="./img/covers/rectangle2-img.webp" alt="Image 2">
            <img class="covers-img"  src="./img/covers/rectangle3-img.webp" alt="Image 3">
            <img class="covers-img" src="./img/covers/rectangle4-img.webp" alt="Image 4">
            <img class="covers-img" src="./img/covers/rectangle5-img.webp" alt="Image 5">
            <img class="covers-img" src="./img/covers/rectangle6-img.webp" alt="Image 6">
            <img class="covers-img" src="./img/covers/rectangle7-img.webp" alt="Image 7">
            <img class="covers-img" src="./img/covers/rectangle8-img.webp" alt="Image 8">
            <img class="covers-img" src="./img/covers/rectangle9-img.webp" alt="Image 9">
            <img class="covers-img" src="./img/covers/rectangle10-img.webp" alt="Image 10">
            <img class="covers-img" src="./img/covers/rectangle1-img.webp" alt="Image 1">
            <img class="covers-img" src="./img/covers/rectangle2-img.webp" alt="Image 2">
            <img class="covers-img" src="./img/covers/rectangle3-img.webp" alt="Image 3">
            <img class="covers-img" src="./img/covers/rectangle4-img.webp" alt="Image 4">
            <img class="covers-img" src="./img/covers/rectangle5-img.webp" alt="Image 5">
            <img class="covers-img" src="./img/covers/rectangle6-img.webp" alt="Image 6">
            <img class="covers-img" src="./img/covers/rectangle7-img.webp" alt="Image 7">
            <img class="covers-img" src="./img/covers/rectangle8-img.webp" alt="Image 8">
            <img class="covers-img" src="./img/covers/rectangle9-img.webp" alt="Image 9">
            <img class="covers-img" src="./img/covers/rectangle10-img.webp" alt="Image 10">
        </div>
        <div class="marquee-row-reversed">
            <img class="covers-img" src="./img/covers/rectangle1-img.webp" alt="Image 1">
            <img class="covers-img" src="./img/covers/rectangle2-img.webp" alt="Image 2">
            <img class="covers-img" src="./img/covers/rectangle3-img.webp" alt="Image 3">
            <img class="covers-img" src="./img/covers/rectangle4-img.webp" alt="Image 4">
            <img class="covers-img" src="./img/covers/rectangle5-img.webp" alt="Image 5">
            <img class="covers-img" src="./img/covers/rectangle6-img.webp" alt="Image 6">
            <img class="covers-img" src="./img/covers/rectangle7-img.webp" alt="Image 7">
            <img class="covers-img" src="./img/covers/rectangle8-img.webp" alt="Image 8">
            <img class="covers-img" src="./img/covers/rectangle9-img.webp" alt="Image 9">
            <img class="covers-img" src="./img/covers/rectangle10-img.webp" alt="Image 10">
            <img class="covers-img" src="./img/covers/rectangle1-img.webp" alt="Image 1">
            <img class="covers-img" src="./img/covers/rectangle2-img.webp" alt="Image 2">
            <img class="covers-img" src="./img/covers/rectangle3-img.webp" alt="Image 3">
            <img class="covers-img" src="./img/covers/rectangle4-img.webp" alt="Image 4">
            <img class="covers-img" src="./img/covers/rectangle5-img.webp" alt="Image 5">
            <img class="covers-img" src="./img/covers/rectangle6-img.webp" alt="Image 6">
            <img class="covers-img" src="./img/covers/rectangle7-img.webp" alt="Image 7">
            <img class="covers-img" src="./img/covers/rectangle8-img.webp" alt="Image 8">
            <img class="covers-img" src="./img/covers/rectangle9-img.webp" alt="Image 9">
            <img class="covers-img" src="./img/covers/rectangle10-img.webp" alt="Image 10">
        </div>
        <div class="marquee-row">
            <img class="covers-img" src="./img/covers/rectangle1-img.webp" alt="Image 1">
            <img class="covers-img" src="./img/covers/rectangle2-img.webp" alt="Image 2">
            <img class="covers-img" src="./img/covers/rectangle3-img.webp" alt="Image 3">
            <img class="covers-img" src="./img/covers/rectangle4-img.webp" alt="Image 4">
            <img class="covers-img" src="./img/covers/rectangle5-img.webp" alt="Image 5">
            <img class="covers-img" src="./img/covers/rectangle6-img.webp" alt="Image 6">
            <img class="covers-img" src="./img/covers/rectangle7-img.webp" alt="Image 7">
            <img class="covers-img" src="./img/covers/rectangle8-img.webp" alt="Image 8">
            <img class="covers-img" src="./img/covers/rectangle9-img.webp" alt="Image 9">
            <img class="covers-img" src="./img/covers/rectangle10-img.webp" alt="Image 10">
            <img class="covers-img" src="./img/covers/rectangle1-img.webp" alt="Image 1">
            <img class="covers-img" src="./img/covers/rectangle2-img.webp" alt="Image 2">
            <img class="covers-img" src="./img/covers/rectangle3-img.webp" alt="Image 3">
            <img class="covers-img" src="./img/covers/rectangle4-img.webp" alt="Image 4">
            <img class="covers-img" src="./img/covers/rectangle5-img.webp" alt="Image 5">
            <img class="covers-img" src="./img/covers/rectangle6-img.webp" alt="Image 6">
            <img class="covers-img" src="./img/covers/rectangle7-img.webp" alt="Image 7">
            <img class="covers-img" src="./img/covers/rectangle8-img.webp" alt="Image 8">
            <img class="covers-img" src="./img/covers/rectangle9-img.webp" alt="Image 9">
            <img class="covers-img" src="./img/covers/rectangle10-img.webp" alt="Image 10">
        </div>
        <div class="marquee-row-reversed">
            <img class="covers-img" src="./img/covers/rectangle1-img.webp" alt="Image 1">
            <img class="covers-img" src="./img/covers/rectangle2-img.webp" alt="Image 2">
            <img class="covers-img" src="./img/covers/rectangle3-img.webp" alt="Image 3">
            <img class="covers-img" src="./img/covers/rectangle4-img.webp" alt="Image 4">
            <img class="covers-img" src="./img/covers/rectangle5-img.webp" alt="Image 5">
            <img class="covers-img" src="./img/covers/rectangle6-img.webp" alt="Image 6">
            <img class="covers-img" src="./img/covers/rectangle7-img.webp" alt="Image 7">
            <img class="covers-img" src="./img/covers/rectangle8-img.webp" alt="Image 8">
            <img class="covers-img" src="./img/covers/rectangle9-img.webp" alt="Image 9">
            <img class="covers-img" src="./img/covers/rectangle10-img.webp" alt="Image 10">
            <img class="covers-img" src="./img/covers/rectangle1-img.webp" alt="Image 1">
            <img class="covers-img" src="./img/covers/rectangle2-img.webp" alt="Image 2">
            <img class="covers-img" src="./img/covers/rectangle3-img.webp" alt="Image 3">
            <img class="covers-img" src="./img/covers/rectangle4-img.webp" alt="Image 4">
            <img class="covers-img" src="./img/covers/rectangle5-img.webp" alt="Image 5">
            <img class="covers-img" src="./img/covers/rectangle6-img.webp" alt="Image 6">
            <img class="covers-img" src="./img/covers/rectangle7-img.webp" alt="Image 7">
            <img class="covers-img" src="./img/covers/rectangle8-img.webp" alt="Image 8">
            <img class="covers-img" src="./img/covers/rectangle9-img.webp" alt="Image 9">
            <img class="covers-img" src="./img/covers/rectangle10-img.webp" alt="Image 10">
        </div>
        <div class="marquee-row">
            <img class="covers-img" src="./img/covers/rectangle1-img.webp" alt="Image 1">
            <img class="covers-img" src="./img/covers/rectangle2-img.webp" alt="Image 2">
            <img class="covers-img" src="./img/covers/rectangle3-img.webp" alt="Image 3">
            <img class="covers-img" src="./img/covers/rectangle4-img.webp" alt="Image 4">
            <img class="covers-img" src="./img/covers/rectangle5-img.webp" alt="Image 5">
            <img class="covers-img" src="./img/covers/rectangle6-img.webp" alt="Image 6">
            <img class="covers-img" src="./img/covers/rectangle7-img.webp" alt="Image 7">
            <img class="covers-img" src="./img/covers/rectangle8-img.webp" alt="Image 8">
            <img class="covers-img" src="./img/covers/rectangle9-img.webp" alt="Image 9">
            <img class="covers-img" src="./img/covers/rectangle10-img.webp" alt="Image 10">
            <img class="covers-img" src="./img/covers/rectangle2-img.webp" alt="Image 2">
            <img class="covers-img" src="./img/covers/rectangle3-img.webp" alt="Image 3">
            <img class="covers-img" src="./img/covers/rectangle4-img.webp" alt="Image 4">
            <img class="covers-img" src="./img/covers/rectangle5-img.webp" alt="Image 5">
            <img class="covers-img" src="./img/covers/rectangle6-img.webp" alt="Image 6">
            <img class="covers-img" src="./img/covers/rectangle7-img.webp" alt="Image 7">
            <img class="covers-img" src="./img/covers/rectangle8-img.webp" alt="Image 8">
            <img class="covers-img" src="./img/covers/rectangle9-img.webp" alt="Image 9">
            <img class="covers-img" src="./img/covers/rectangle10-img.webp" alt="Image 10">
        </div>
    </div>
</div>
