<section class="projects">
  <div class="container">
    <h2 class="projects__title">Projects</h2>
    <div class="set">
      <div class="set-top">
        <ul class="set-top__list">
          <li class="set-top__item">#react</li>
          <li class="set-top__item">#js</li>
          <li class="set-top__item">#node js</li>
          <li class="set-top__item">#git</li>
        </ul>
        <h3 class="set-top__title">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>
        <a
          href="https://tanyf5.github.io/portfolio-team-10/"
          class="set-top__link"
          target="_blank"
          >See project</a
        >
      </div>
      <div class="set-bottom">
        <ul class="set-bottom__list">
          <li class="set-bottom__item">
            <picture>
              <source
                srcset="
                  ./img/projects/tablet/photoTablet.webp    1x,
                  ./img/projects/tablet/photoTablet@2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/tablet/photoTablet.webp    1x,
                  ./img/projects/tablet/photoTablet@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/photo.webp    1x,
                  ./img/projects/photo@2x.webp 2x
                "
                media="(max-width: 767px)"
              />

              <img src="./img/projects/photo.webp" alt="project1" width="311" />
            </picture>
          </li>
          <!-- <li class="set-bottom__item">
            <picture>
              <source
                srcset="
                  ./img/projects/tablet/dogTablet.webp    1x,
                  ./img/projects/tablet/dogTablet@2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/tablet/dogTablet.webp    1x,
                  ./img/projects/tablet/dogTablet@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/dog.webp    1x,
                  ./img/projects/dog@2x.webp 2x
                "
                media="(max-width: 767px)"
              />

              <img src="./img/projects/dog.webp" alt="project1" width="311" />
            </picture>
          </li>
          <li class="set-bottom__item">
            <picture>
              <source
                srcset="
                  ./img/projects/tablet/peopleTablet.webp    1x,
                  ./img/projects/tablet/peopleTablet@2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/tablet/peopleTablet.webp    1x,
                  ./img/projects/tablet/peopleTablet@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/people.webp    1x,
                  ./img/projects/people@2x.webp 2x
                "
                media="(max-width: 767px)"
              />

              <img
                src="./img/projects/people.webp"
                alt="project1"
                width="311"
              />
            </picture>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="btn-set">
      <button class="btn-set__left" disabled>
        <svg class="btn-set__left-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="btn-set__right">
        <svg class="btn-set__right-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
