<section class="projects">
  <div class="container">
    <h2 class="projects__title">Projects</h2>
    <div class="set">
      <div class="set-top">
        <ul class="set-top__list">
          <li class="set-top__item">#react</li>
          <li class="set-top__item">#js</li>
          <li class="set-top__item">#node js</li>
          <li class="set-top__item">#git</li>
        </ul>
        <h3 class="set-top__title">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>
        <a
          href="https://tanyf5.github.io/portfolio-team-10/"
          class="set-top__link"
          target="_blank"
          >See project</a
        >
      </div>
      <div class="set-bottom">
        <ul class="set-bottom__list">
          <li class="set-bottom__item">
            <img src="../img/projects/project1-img.webp" alt="project1" />
          </li>
          <li class="set-bottom__item">
            <img src="../img/projects/project2-img.webp" alt="project1" />
          </li>
          <li class="set-bottom__item">
            <img src="../img/projects/project3-img.webp" alt="project1" />
          </li>
        </ul>
      </div>
    </div>
    <div class="btn-set">
      <button class="btn-set__left">
        <svg class="btn-set__left-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="btn-set__right">
        <svg class="btn-set__right-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
