.section-about.container {
  padding-top: 64px;
  padding-bottom: 32px;
}

.about-hidden-title {
  display: none;
}

.about-presentation {
  margin-bottom: 32px;
}

.about-presentation-bcg {
  width: 343px;
  height: 500px;
  background-color: #242527;
  border-radius: 24px;

  margin-bottom: 16px;
  padding-top: 32px;
}

.about-img {
  width: 343px;
  height: 500px;
  border-radius: 24px;
  object-fit: cover;
}

.about-text {
  width: 279px;
  height: 196px;
  margin: auto;

  font-weight: 500;
  text-transform: uppercase;
  font-family: 'InterTight', sans-serif;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.48px;
  text-align: left;
}

.span-functional {
  color: #ed3b44;
}

.span-web {
  opacity: 40%;
}

/* ------------------Accordion------------ */

.about-accordion {
  max-width: 343px;
  margin-bottom: 64px;
}

.about-accordion > .ac {
  margin-top: 0;
}

.ac > .ac-trigger > .ac-header,
.ac > .ac-trigger > .ac-header:hover,
.ac > .ac-trigger > .ac-header:focus,
.ac > .ac-trigger > .ac-header:active {
  color: #fafafa;
  opacity: 40%;

  background-color: transparent;
  border: 1px transparent solid;

  font-family: 'InterTight', sans-serif;
  letter-spacing: -0.32px;
  font-weight: 600;
  text-transform: uppercase;

  margin-bottom: 12px;
  padding: 0;
}

.ac > .ac-trigger {
  height: 40px;
}

.about-accordion > .ac > .ac-panel > .ac-text {
  font-weight: 500;
  font-family: 'InterTight', sans-serif;
  letter-spacing: -0.32px;

  color: rgba(250, 250, 250, 1);
  padding: 0;
  margin-bottom: 10px;
  margin-top: 12px;
}

.about-accordion > .ac > .ac-panel > .ac-text:last-child {
  padding-bottom: 20px;
}

.about-accordion > .ac > .ac-trigger {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 40px;
  height: 72px;
}

.about-ac-text-first {
  margin-bottom: 32px;
}

.about-accordion > .ac {
  background-color: transparent;
  position: relative;
  border: none;
}

.about-accordion > .ac::after {
  content: '';
  background-color: rgba(250, 250, 250, 0.2);
  height: 1px;
  width: 100%;

  bottom: 0px;
  position: absolute;
}

.about-accordion > .ac > .ac-trigger::after {
  content: '';
}

.about-wrap-icon > .about-icon {
  stroke: #fafafa;
  fill: none;
}

.about-wrap-icon {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);

  width: 40px;
  height: 40px;
}

/*-----------------Slider------------*/
/*div*/
.about-swiper {
  width: 343px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}

.about-swiper > .swiper.mySwiper {
  /* display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; */
  margin-left: 0;
  width: 260px;
  height: 130px;

  /* margin-top: 32px; */
  overflow: hidden;
}

/*li*/
.about-swiper > .swiper.mySwiper > .swiper-wrapper > .swiper-slide {
  box-sizing: border-box;
  width: 130px;

  border: 1px rgba(250, 250, 250, 0.2) solid;
  border-radius: 50%;

  font-family: 'InterTight', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.21;

  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide-active {
  background-color: #ed3b44;
  border-style: none;
}

.swiper > .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/*BTN*/
.about-swiper > .swiper-button-next::after {
  display: none;
}

.about-swiper > .swiper-button-next {
  display: flex;
  display: flex;
  justify-content: right;
}

.about-btn-next.swiper-button-next {
  height: 28px;
  width: 28px;
  background-color: transparent;
  border: none;
  align-items: center;
}

.about-btn-next > .about-svg-nav {
  stroke: #3b3b3b;
  width: 28px;
  height: 28px;
  background-color: transparent;
}

/*<----------768px--------->*/

@media screen and (min-width: 768px) {
  .section-about.container {
    padding-top: 64px;
    padding-bottom: 45.5px;
  }

  .about-presentation {
    margin-bottom: 64px;
  }
  .about-img {
    width: 704px;
    height: 700px;
  }

  .about-presentation-bcg {
    width: 704px;
    height: 700px;

    margin-bottom: 16px;
  }

  .about-text {
    width: 576px;
    height: 200px;
    margin: auto;

    font-size: 38px;
  }

  /* ------------------Accordion------------ */
  .about-accordion {
    max-width: 704px;
    margin-bottom: 96px;
  }

  .ac > .ac-trigger,
  .ac > .ac-trigger:hover,
  .ac > .ac-trigger:focus,
  .ac > .ac-trigger:active {
    height: 40px;
  }
  .about-accordion > .ac > .ac-panel > .ac-text:last-child {
    padding-bottom: 32px;
  }

  .about-accordion > .ac > .ac-trigger {
    margin-top: 64px;
  }

  .about-accordion > .ac > .ac-panel > .ac-text {
    margin-top: 8px;
  }

  .about-ac-text-first {
    margin-bottom: 16px;
  }

  /*-----------------Slider------------*/

  /*div*/

  .about-swiper {
    width: 704px;
    height: 200px;
  }

  .about-swiper > .swiper.mySwiper {
    display: flex;
    flex-wrap: nowrap;

    width: 600px;
    height: 200px;
  }

  /*ul*/
  .mySwiper > .swiper-wrapper {
    height: 100%;
  }

  /*li*/
  .mySwiper.swiper.about-swipe > .swiper-wrapper > .swiper-slide {
    width: 200px;
  }

  /*btn*/
  .about-btn-next.swiper-button-next {
    width: 40px;
    height: 40px;
    align-items: center;
  }

  .about-btn-next > .about-svg-nav {
    width: 40px;
    height: 40px;
  }
}

/*<----------1440px--------->*/

@media screen and (min-width: 1440px) {
  .section-about.container {
    padding-top: 96px;
    padding-bottom: 82px;
  }

  .about-presentation {
    display: flex;
    max-width: 1376px;
    height: 700px;
    margin-bottom: 96px;
  }

  .about-img {
    width: 680px;
    height: 700px;
    object-fit: cover;
  }

  .about-presentation-bcg {
    width: 680px;
    height: 700px;
    margin-bottom: 0;
    padding-top: 0;
  }

  .about-text {
    padding-top: 64px;
    width: 552px;
    height: 200px;
  }

  /* ------------------Accordion------------ */
  .about-accordion {
    max-width: 1376px;
  }

  .ac > .ac-trigger,
  .ac > .ac-trigger:hover,
  .ac > .ac-trigger:focus,
  .ac > .ac-trigger:active {
    height: 72px;
  }

  .about-accordion > .ac > .ac-panel > .ac-text {
    text-align: start;
    max-width: 612px;
    min-width: 284px;
    margin-left: 696px;
    margin-top: 8px;
  }

  .about-ac-text-first {
    margin-bottom: 32px;
  }

  .ac-panel {
    margin-bottom: 40px;
  }

  .about-accordion > .ac {
    background-color: transparent;
    position: relative;
    border: none;
  }

  .ac > .ac-header > .ac-trigger::after {
    border-radius: 50%;
    border: 1px rgba(250, 250, 250, 0.2) solid;
    width: 36px;
    height: 36px;
    content: '';
  }

  .about-accordion > .ac.is-active > .ac-header > .ac-trigger::after {
    content: '';
  }

  .ac > .ac-header {
    height: 36px;
  }

  /*-----------------Slider------------*/

  /*div*/
  .about-swiper {
    width: 1312px;
    margin: 0 auto;
  }

  .about-swiper > .swiper.mySwiper {
    display: flex;
    flex-wrap: nowrap;

    width: 1200px;
    height: 200px;
  }

  /*ul*/
  .mySwiper > .swiper-wrapper {
    width: 1200px;
  }
}
