/* .benefits-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
} */
.benefits {
  padding-top: 82px;
  padding-bottom: 82px;
}

.benefits-container {
  height: 1290px;
}

.benefits-info {
  padding: 0 24px 24px 24px;
}
.benefits-title {
  font-family: 'InterTight', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa66;
  padding-bottom: 32px;
}
@media (min-width: 1440px) {
  .benefits-title {
    padding-bottom: 0px;
  }
}
.benefits-icon {
  /* stroke: #FAFAFA; */
  /* background-color: #ED3B44; */
  fill: #fafafa;
  /* width: 24px;
    height: 24px; */
}
.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background-color: #ed3b44;
  /* margin-bottom: 64px; */
  margin: 24px 0 64px 24px;
}
.benefits-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 64px;
}

@media (min-width: 1440px) {
  .benefits-list {
    justify-content: flex-end;
    width: calc(2 * 332px + 16px);
    margin-left: auto;
    /* margin-bottom: 64px; */
  }
}
.benefits-item {
  width: 344px;
  height: 270px;
  border-radius: 20px;
  background-color: #242527;
  /* padding: 24px; */
}

@media (min-width: 1440px) {
  .benefits-item {
    width: 332px;
    height: 270px;
  }
}
.title-item {
  font-family: 'InterTight', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa;
  margin-bottom: 8px;
}
.benefits-text {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa99;
}

.benefits-order {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  text-align: center;
  padding: 18px;
  width: 187px;
  /* height: 55px; */
  border-radius: 60px;
  border: 1px solid #fafafa33;
  color: #fafafa;
  background-color: #1c1d20;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.benefits-order:hover,
.benefits-order:focus {
  background-color: #ed3b44;
}

@media (min-width: 1440px) {
  .benefits-order {
    margin-left: 696px;
  }

  .benefits-container {
    height: 686px;
  }
}

@media (min-width: 768px) {
  .benefits-container {
    height: 720px;
  }
}
