.section-faq {
    padding-top: 32px;
    padding-bottom: 64px;
  }
  
  .faq {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }
  
  .faq__item-icon {
    stroke: #fafafa;
    fill: none;
    width: 20px;
    height: 20px;
  }
  
  .faq__item-wrap-title .faq__item-wrap-icon {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    width: 30px;
    height: 30px;
    outline: none;
  }
  
  .faq__item-wrap-title .faq__item-wrap-icon:focus,
  .faq__item-wrap-title .faq__item-wrap-icon:hover,
  .faq__item-wrap-title .faq__item-wrap-icon:active {
    box-shadow: inset 0 10px 10px -10px rgba(250, 250, 250, 0.2),
      inset 0 -10px 10px -10px rgba(250, 250, 250, 0.2);
  }
  
  .faq__title {
    color: rgba(250, 250, 250, 0.4);
    font-family: 'InterTight', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
  
  /* -------375-------- */
  
  .faq__list .faq__item {
    background-color: #1c1d20;
    margin: 0;
    padding: 20px 0;
    border: none;
    min-height: 104px;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
  }
  
  .faq__list .faq__item.is-active {
    box-shadow: inset 0 10px 10px -10px rgba(250, 250, 250, 0.06),
      inset 0 -10px 10px -10px rgba(250, 250, 250, 0.06);
  }
  
  .faq__item-wrap-text.ac-panel {
    min-height: 0;
    overflow: hidden;
  }
  
  .faq__item.is-active .faq__item-wrap-text.ac-panel {
    min-height: 136px;
  }
  
  .faq__list .faq__item:last-child {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
  
  .faq .faq__list .faq__item .faq__item-wrap-title {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-family: 'InterTight', sans-serif;
  }
  
  .faq .faq__list .faq__item .faq__item-wrap-title .ac .ac-trigger {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-family: 'InterTight', sans-serif;
  }
  
  .faq__list .faq__item-title .ac-header {
    color: #fafafa;
    font-family: 'InterTight', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    width: 265px;
    margin: 0;
  }
  
  .ac > .ac-trigger > .ac-header,
  .ac > .ac-trigger > .ac-header:hover,
  .ac > .ac-trigger > .ac-header:focus,
  .ac > .ac-trigger > .ac-header:active {
    color: #fafafa;
    opacity: 100%;
    border: 1px transparent solid;
    font-family: 'InterTight', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
    font-style: normal;
    line-height: 1.5;
    height: auto;
  }
  
  .ac > .ac-trigger,
  .ac > .ac-trigger:hover,
  .ac > .ac-trigger:focus,
  .ac > .ac-trigger:active {
    height: auto;
  }
  
  .ac-panel {
    margin: 0;
  }
  
  .faq__list .faq__item .faq__item-wrap-text .faq__item-text {
    color: rgba(250, 250, 250, 0.6);
    font-family: 'InterTight', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    padding: 16px 0 0;
  }
  
  /* -------768-------- */
  
  @media (min-width: 768px) {
    .section-faq {
      padding-top: 48px;
      padding-bottom: 96px;
    }
    .faq__list .faq__item-title {
      width: 574px;
    }
  
    .faq__item.is-active .faq__item-wrap-text.ac-panel {
      min-height: 88px;
    }
  }
  
  /* -------1440-------- */
  
  @media (min-width: 1440px) {
    .section-faq {
      padding-top: 82px;
      padding-bottom: 164px;
    }
    .faq__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .faq__list .faq__item {
      flex: 0 0 50%;
      padding: 32px 0;
    }
    .faq__item:nth-child(5) {
      border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    }
    .faq__item:nth-child(2n + 1) {
      border-right: 1px solid rgba(250, 250, 250, 0.2);
      padding-right: 32px;
    }
    .faq__item:nth-child(2n) {
      padding-left: 32px;
    }
    .faq__item .faq__item-title {
      max-width: 485px;
    }
    .faq__item .faq__item-title:nth-child(1) {
      max-width: 574px;
    }
  }
  
  .ac .faq__item-wrap-title.ac-trigger::after {
    content: '';
  }