.section-faq {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #1c1d20;
}

.faq {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

/* --------- */
.faq__item-icon {
  stroke: #fafafa;
  fill: none;
  width: 20px;
  height: 20px;
}

.faq__item-wrap-icon {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 30px;
  height: 30px;
}

.faq__title {
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

/* -------320-------- */
.faq__list .faq__item {
  background-color: #1c1d20;
  margin: 0;
  padding: 20px 0;
  border: none;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.faq__list .faq__item:last-child {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

/* .faq__item.is-active {
  background-color: #2951c9;
} */

.faq .faq__list .faq__item .faq__item-wrap-title {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.faq__list .faq__item-title {
  color: #fafafa;
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  width: 265px;
}

.faq__list .faq__item .faq__item-wrap-text .faq__item-text {
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  padding: 16px 0 0;
}

/* -------768-------- */
@media (min-width: 768px) {
  .section-faq {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .faq__list .faq__item-title {
    width: 574px;
  }
}

/* -------1440-------- */
@media (min-width: 1440px) {
  .section-faq {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .faq__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .faq__item {
    flex: 0 0 50%;
  }

  .faq__item:nth-child(5) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }

  .faq__item:nth-child(2n + 1) {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }

  .faq__item:nth-child(2n) {
    padding-left: 32px;
  }

  .faq__list .faq__item-title {
    max-width: 488px;
  }
}

.ac .faq__item-wrap-title.ac-trigger::after {
  content: '';
}
