/* InterTight-Medium */
@font-face {
    font-family: 'InterTight';
    src: url('/fonts/InterTight-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* InterTight-SemiBold */
@font-face {
    font-family: 'InterTight';
    src: url('/fonts/InterTight-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
