/* InterTight-Medium */
@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 500;
    src: url('/src/fonts/InterTight-Medium.ttf');
}
/* InterTight-SemiBold */
@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    src: url('/src/fonts/InterTight-SemiBold.ttf');
}