.reviews.container {
  padding: 64px 16px 64px 16px;
}

.rwvs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rvws-title {
  font-family: 'InterTight' sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.rvws-swiper.swiper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.rvws-swiper-wrapper.swiper-wrapper {
  display: flex;
  gap: 32px;
}

.rvws-swiper-slide.swiper-slide {
  width: 343px;
  height: 302px;
  padding: 32px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.5);
}

.swiper-back-next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.navigation-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: #1c1d20;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1440px) {
  
}
